.equation-text {
    text-align: center;
    font-size: 2.5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.image-holder {
    display: inline-block;
}

.panel-image {
    width: 90%;
    height: 90%;
}