/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Snap scrolling*/
.snap-container {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(30vh);
  scroll-snap-type: y mandatory;
}

.snap-child {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

/*Custom styling for navbar*/
.navbar-underlined {
  border-bottom: 1px solid black;
  font-size: 1.2em;
  margin: 10px;
}

.navbar .navbar-brand {
  text-align: center !important;
  display: block !important;
  width: 100% !important;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block !important;
}

/*Custom styling for navbar*/
.home-title {
  color: #F4A261;
  font-size: 6em;
}

.home-subtitle {
  color: #457b9d;
  font-size: 1.5em;
}

.home-button {
  font-size: 1.2em !important;
  border-radius: 30px !important;
  background: black !important;
  color: white !important;
}

/*Custom style for carou*/
.carousel-section {
  background: rgba(0, 0, 0, 0.2);
} 
.slick-prev {
  font-size: 2em !important;
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  font-size: 2em !important;
  right: 3% !important;
  z-index: 1;
}

.slick-prev:before {
  font-size: 2em !important;
  color: #aaaaaa !important;
}
.slick-next:before {
  font-size: 2em !important;
  color: #aaaaaa !important;
}

.carousel-title {
  font-size: 4em;
  color: #457b9d;
}

/*Styling for card*/
.panel {
  width: 80%;
  margin-top: 30px !important;
  height: 70vh;
}

.panel-left {
  padding: 40px !important;
  background: #ECECEC;
  text-align: left;
}

.panel-right {
  padding: 0px !important;
}

.card-chapter {
  color: #457b9d;
  font-size: 1.5em;
}

.card-name {
  color: #F4A261;
  font-size: 2em;
  margin-bottom: 20px;
}

.card-description {
  font-size: 1.5em;
}

.card-button {
  font-size: 1.2em !important;
  border-radius: 30px !important;
}

.card-image {
  width: 100%;
  height: 100%;
}

/*Powered by section*/
.powered-by {
  margin-top: 30px;
  text-align: center;
}

.powered-by-title {
  font-size: 4em;
  margin-bottom: 1em;
}

.powered-card {
  text-align: center;
}

.powered-card-title {
  font-size: 3em;
  margin: 10px;
}

.powered-card-content {
  display: inline-block;
  width: 80%;
  font-size: 2em;
  font-weight: 200;
  color: #636363;
}

.powered-card-button {
  font-size: 1.2em !important;
  border-radius: 30px !important;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  display: inline-block;
  width: 30%;
}

/*About section*/
.about {
  text-align: center;
}

#about-us-section {
  background: rgba(0, 0, 0, 0.4);
}

.about-title {
  font-size: 3em;
  color: white;
}

.about-content {
  font-size: 1.5em;
  font-weight: 200;
  width: 50%;
  display: inline-block;
  color: white;
}

.about-name {
  font-size: 1.5em;
  font-weight: 200;
  color: white;
}

.contact-button {
  font-weight: 800;
  font-size: 1.7em;
  color: rgba(0, 0, 0, 0.5);
  background: white;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.5);
  width: 2.7em;
  height: 2.7em;
  transition: all 200ms ease-in;
}

.contact-button:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  color: white;
}

.contact-button-text {
  color: white;
  font-size: 1.2em;
}

.algo-panel-child {
  padding: 50px;
}

.algo-right-panel {
  position: sticky;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.algo-left-panel {
  padding: 0px !important;
}

.algo-left-subtitle {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 50px;
}

.algo-left-title {
  font-size: 3em;
  padding-left: 50px;
}

.algo-left-text {
  font-size: 1.2em;
  color: black;
}

.algo-left-header {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Menu button inside algo panel*/
.menu-button {
  border: none !important;
  background: none !important;
  padding: 0px !important;
}

/*Footer for left algo panel*/
.algo-footer {
  color: white;
  padding: 60px;
  font-size: 1.5em;
  text-align: center;
  background: #264653;
  width: 100%;
  transition: all 200ms ease-in;
  display: block;
  text-align: left;
}

.algo-footer:hover {
  background: #2a9d8f;
  color: white;
}

/* Sketch */
.positive {
  width: 2em;
  height: 2em;
  background: #457B9D;
  display: inline-block;
  border-radius: 10px;
}

.positive-chosen {
  width: 2em;
  height: 2em;
  background: #457B9D;
  display: inline-block;
  border-radius: 10px;
  border: 4px solid #e63946;
}

.negative {
  width: 2em;
  height: 2em;
  background: #F4A261;
  display: inline-block;
  border-radius: 10px;
}

.negative-chosen {
  width: 2em;
  height: 2em;
  background: #F4A261;
  display: inline-block;
  border-radius: 10px;
  border: 4px solid #e63946;
}

/* Neural network */
.start-stop-button {
  padding: 1.5em;
  border-radius: 50%;
  display: inline-block;
  color: white;
}


