/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

* {
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Custom styling for navbar*/
.navbar-underlined {
  border-bottom: 1px solid black;
  font-size: 1.2em;
  margin: 10px;
}

.navbar .navbar-brand {
  text-align: center !important;
  display: block !important;
  width: 100% !important;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block !important;
}

/*Custom styling for navbar*/
.home-title {
  color: #F4A261;
  font-size: 6em;
}

.home-subtitle {
  color: #a8dadc;
  font-size: 1.5em;
}

.home-button {
  font-size: 1.2em !important;
  border-radius: 30px !important;
  background: black !important;
  color: white !important;
}

/*Custom style for carou*/
.slick-prev {
  font-size: 2em !important;
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  font-size: 2em !important;
  right: 3% !important;
  z-index: 1;
}

.slick-prev:before {
  font-size: 2em !important;
  color: #aaaaaa !important;
}
.slick-next:before {
  font-size: 2em !important;
  color: #aaaaaa !important;
}

.carousel-title {
  font-size: 4em;
}

/*Styling for card*/
.panel {
  width: 80%;
  margin-top: 30px !important;
}

.panel-left {
  padding: 40px !important;
  background: #ECECEC;
  text-align: left;
}

.panel-right {
  padding: 0px !important;
}

.card-chapter {
  color: #457b9d;
  font-size: 1.5em;
}

.card-name {
  color: #F4A261;
  font-size: 2em;
  margin-bottom: 20px;
}

.card-description {
  font-size: 1.5em;
}

.card-button {
  font-size: 1.2em !important;
  border-radius: 30px !important;
}

.card-image {
  width: 100%;
  height: 100%px;
}

/*Powered by section*/
.powered-by {
  margin-top: 30px;
  text-align: center;
}

.powered-by-title {
  font-size: 4em;
  margin-bottom: 1em;
}

.powered-card {
  text-align: center;
}

.powered-card-title {
  font-size: 3em;
  margin: 10px;
}

.powered-card-content {
  display: inline-block;
  width: 80%;
  font-size: 2em;
  font-weight: 200;
  color: #636363;
}

.powered-card-button {
  font-size: 1.2em !important;
  border-radius: 30px !important;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  display: inline-block;
  width: 30%;
}